doctype html
html
  head
    title Corewar Championship - #{pageTitle}
    link(href='/stylesheets/styles.css', rel='stylesheet')
    block styles
    script(type='text/javascript').
      function imgHover(element, path) {
        element.getElementsByTagName('img')[0].setAttribute('src', path);
      }
  body
    include ./header.jade
    block pre-content
    .content.white
      block content
    include ./footer.jade