doctype html
html
  head
    title Corewar Championship - #{page}
    link(href='/stylesheets/styles.css', rel='stylesheet')
    block styles
  body
    #page-content
      block content
    #footer Corewar Championship - v#{version}