.layout {
  display: flex;
  align-items: stretch;
}

.layout.vertical {
  flex-direction: column;
}

.layout.horizontal.reverse {
  flex-direction: row-reverse;
}

.scrollable {
  overflow: scroll;
}
