a,
a:visited {
  text-decoration: none;
  color: #3572b0;
}

a:hover {
  text-decoration: underline;
  color: #205081;
}

.box {
  border: 1px solid #e8e8e8;
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  margin: 12px 0px 12px 0px;
}
