@import '_constants.scss';
@import '_markdown.scss';

.markdown {
  .layout {
    @extend .margin-text;
  }
  
  table {
    width: 100%;
    
    .cell {
      padding: 2px 4px;
      text-align: center;
    }
    
    td {
      @extend .cell;
    }
    
    th {
      @extend .cell;
    }
    
    th.instruction {
      font-style: normal;
    }
    
    tr:hover:not(.mode) {
      background-color: $table-line-hover;
    }
  }
}
