@font-face {
  font-family: 'Monaco';
  src: url('fonts/Monaco.ttf') format('truetype');
}

html * {
  box-sizing: border-box;
  font-family: 'Arial';
}

body {
  margin: 0;
  background-color: #f8f8f8;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

#page-content,
#footer {
  width: 80%;
  margin: 0 auto;
}

#footer {
  text-align: center;
  font-size: 12px;
  padding: 20px 20px 40px 20px;
  color: #777;
}