extends ../layout

append styles
  link(href='/stylesheets/instruction-tables/table-style.css', rel='stylesheet')
  
block content
  a(href=baseUrl + "/decode") Decode
  a(href=baseUrl + "/execute") Execute
  table.instruction-table
    tr
      th
      each mode in instructions.modes
        th= mode
  
    each instruction in instructions.instructions
      tr
        td= instruction.name
        each mode, index in instructions.modes
           block tableRow